html{
    background: gray;
    color: white;
}

.wrap_div{
    text-align: center;
}

.summonerInput{
    width: 30%;
    height: 5%;
    font-size: 1.5vh;
    border-radius: 5px;
}


button {
    height: 5%;
    width: 15%;
    font-size: 1.5vh;
    border-radius: 5px;
}

.tier_img{
    width: 20%;
}