html{
    background: gray;
    color: white;
}

.wrap_div{
    text-align: center;
    margin-top: 30vh;
}

.wrap_div > div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.summonerInput{
    width: 35vw;
    height: 5vh;
    font-size: 1.5vh;
    border-radius: 5px;
    margin-right: 10px;
}


button {
    height: 5vh;
    width: 15vw;
    font-size: 1.5vh;
    border-radius: 5px;
}

